html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
}

div#background {
    background-image: url("../images/background_7.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    /*background-size: cover;*/
    box-shadow: inset 0 0 0 1000px rgba(126, 231, 126, .21);
    min-height: 80%;
}

body.logged-in {
    padding-top: 30px;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
    min-height: 100%;
}

/* Header */

div#header {
    box-shadow: inset 0 0 0 1000px rgba(126, 231, 126, .21);
}

div#header>div.container {
    min-height: 0;
}

h1 {
    text-align: center;
    font-size: 56px;
    margin-top: 0px;
    padding-bottom: 10px;
}


/*h1>a {
    color: #0c7344;
}

h1>a:hover {
    text-decoration: none;
    color: #0c7344;
}*/

a.no-link-style {
    color: #0c7344;
}

a.no-link-style:hover {
    text-decoration: none;
    color: #0c7344;
}

.page-header {
    border:none;
    margin: 40px 0 0;
}

img#logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3 {
    color: #0c7344;
}

h2 {
    font-size: 34px;
    margin-top: 7px;
}

h3 {
    text-align: center;
    font-size: 22px;
}

.main {
    min-height: 100%;
    padding-bottom: 40px;
}

.footer {
    color: white;
    font-weight: bold;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.5);
}

.footer a {
    color: white;
    text-decoration: underline;
}

address {
    margin-bottom: 5px;
}

#login {
    text-align: right;
}


/* Animation code from: https://graphicfusiondesign.com/design/creating-fancy-css3-fade-in-animations-on-page-load/ */
/*@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:.95; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:.95; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:.95; } }*/
 
.content {
    background-color: #FCFCF8;
    padding: 20px 30px;
    border-radius: 10px;
    opacity:.96; 

    /*-webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
     
    -webkit-animation-fill-mode:forwards;  
    animation-fill-mode:forwards;
     
    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    animation-duration:.5s;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;*/
}

.content li {
    padding-bottom: 15px;
}

/*.content p a, .content li a {
    color: #88845B;
}*/

.more-link {
    font-weight: bold;
}

/*.content a {
    color: #865E16;
    font-weight: bold;
}*/

.clear-both {
    clear: both;
}

/* Navigation */

.navbar-default {
    background: none;
    border:none;
    box-shadow: none;
}

.nav-pills>li>a,
.nav-pills>li>a:focus  {
    background-color: #C7F4B1;
    border-radius: 8px;
    margin: 0 15px 0 15px;
    color: #316431;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
}

.nav-pills>li>a:hover {
    background-color: #E0DDB7;
}

.nav-pills>li.open>a, 
.nav-pills>li.open>a:hover, 
.nav-pills>li.open>a:focus {
    background-color: #E0DDB7;
}

.nav-pills>li>a.btn:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
  background-position: 0 150px; /* Fixes pledge now button, no clue why */
}

/*.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #C7F4B1;
}*/

.nav-pills>li.pledge-button>a {
    color: white;
}

.caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px inherit #fff;
}

.dropdown-menu {
    margin: 0 15px;
    background-color: #F0EEDB;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.dropdown-menu>li>a {
    color: #316431;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #316431;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #E0DDB7;
    background-image: none;
}

.navbar-default button.navbar-toggle {
    background-color: #0c7344;
    border-color: #FCFCF8;
}

.navbar-default button.navbar-toggle:hover,
.navbar-default button.navbar-toggle:focus {
    background-color: #C7F4B1;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FCFCF8;
}

@media (max-width: 768px) {
    .nav-pills>li>a,
    .nav-pills>li>a:hover,
    .nav-pills>li>a:focus {
        margin-bottom: 10px;
    }

    .dropdown-menu {
        margin-top: -10px;
    }
}

.navbar-collapse.in {
  overflow-y: visible;
}

.navbar-collapse {
    border: none;
}

/* Utility Nav */

#utility-nav {
    float: right;
    margin-top: 10px;
    font-size: .85em;
}

#utility-nav a {
    color: #0c7344;
}

/* Admin nav */

nav.admin-nav {
    background-color: #DDD;
    height: 30px;
    min-height: 30px;
}

nav.admin-nav a {
    color: #0c7344;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav.admin-nav span.navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: inherit;
    font-weight: bold;
}



/* Homepage Thermometer */

div#therm-img {
    position: relative;
    margin-top: 15px;
}

#therm-img>img {
    display: block;
    margin: 0px auto 0px;
}

/* @keyframe rules are in thermometer-head.blade.php so % can be dynamic */

#therm-img>img#color-img {
    position: absolute;
    left: 0px;
    top: 0px;
    -webkit-clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    -webkit-animation: thermometer-image ease-in 1.5s;
    animation: thermometer-image ease-in 1.5s;
    -webkit-animation-fill-mode:forwards;  
    animation-fill-mode:forwards;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

#therm {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    height: 15px;
    margin: 10px auto 0px;
    border: solid 3px #0c7344;
}

/* @keyframe rules are in thermometer-head.blade.php so % can be dynamic */

#therm-fill {
    height: 15px;
    background-color: #0c7344;
    width: 0%;
    -webkit-animation: thermometer ease-in 1.5s;
    animation: thermometer ease-in 1.5s;
    -webkit-animation-fill-mode:forwards;  
    animation-fill-mode:forwards;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

#therm-values {
    padding-top: 5px;
    font-size: 16px;
}

#start-value {
    float: left;
    color: #333;
}

a:hover#therm-link {
    text-decoration: none;
}

#end-value {
    float: right;
    color: #333;
}

@keyframes current {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes current {
    from {opacity: 0;}
    to {opacity: 1;}
}

#current-value {
    color: #0c7344;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -1px;
/*    padding-left: 25%;  Set in thermometer-head.blade.php so % can be dynamic */
    margin-left: -71px; /* Width of $0 + half of current value */
    opacity: 0;
    -webkit-animation: current ease-in .5s;
    animation: current ease-in .5s;
    -webkit-animation-fill-mode:forwards;  
    animation-fill-mode:forwards;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

div.homepage-subfeatures {
    padding-bottom: 20px;
}

div.homepage-subfeatures h3 {
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 15px;
}

div.homepage-subfeatures img {
    margin-bottom: 10px;
}

div.homepage-subfeatures h4 {
    margin-top: 0;
}

@media (min-width: 769px) {
    div.neg-left {
        margin-left: -15px;
    }


}
/* Images and Captions 

See http://docs.ckeditor.com/#!/guide/dev_captionedimage-section-image-alignment-and-classes
for more configuration options

*/

figcaption {
    font-style: italic;
    font-size: .8em;
}

figure {
    display: table;
/*    width: 1px; DOES NOT WORK WITH RESPONSIVE IMG STYLES */
    width: auto;
    margin-bottom: 10px;
}

 figure img, figcaption {
    display: table-row;
    margin-bottom: 5px;
}


/* Updates section */

.updates small {
    font-style: italic;
    display: block;
    padding-bottom: 10px;
}

.updates .back {
    text-align: right;
}

.updates .content img {
    border: 1px solid #999;
    margin-bottom: 5px;
    display: block;
    max-width: 100%;
    height: auto;
}

*.pull-left {
    margin-right: 15px;
}

li *.pull-left {
    margin-right: 30px;
}

*.pull-right {
    margin-left: 15px;
}

p.align-center img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

div.align-center figure {
    margin-right: auto;
    margin-left: auto;
}


input#save-button,
input#delete-button,
a#delete-button,
a#cancel-button {
    float:right;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -30px;
}

div.button-group {
    padding-top: 20px;
}

div.image-control input[type='text'] {
    width: 70%;
}

div.image-control img {
    margin-bottom: 15px;
}

/* Scenarios section */

.scenarios p.form-control-static {
    font-weight: bold;
}

.gift-table {
    text-align: center;
}

.gift-table th {
    text-align: center;
}

/* Donors section */

span.callout-number {
    font-weight: bold;
    font-size: 1.3em;
    color: #0c7344;
    letter-spacing: -1px;
}

div.donor-lists h3 {
    text-align: left;
}

div.donor-lists li {
    padding-bottom: 10px;
}


/* Dashboard and Donor Admin*/

.google-chart>div {
    margin: 0px auto;
}

.dashboard-table {
    font-size: .85em;
    max-width: 700px;
    margin: 0px auto;
}

.count-column {
    text-align: center;
}

.total-column {
    text-align: center;
}

.total-row {
    font-weight: bold;
}

#donor-table {
    font-size: .85em;
}

th.date-col {
    min-width: 80px;
}

form.form-horizontal label {
    text-align: right;
}

form .help-block {
    font-size: .85em;
    font-style: italic;
    margin-bottom: 0px;
}


/* Ask Section */

div.ask {
    padding-bottom: 40px;
}

div.ask h2 {
    font-family: "Verdana", sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 20px 0 20px;
}

div.ask img {
    border: 1px solid #999;
    margin-bottom: 15px;
}

div.ask figure {
    width: auto;
}

div.ask figure img {
    margin-bottom: 5px;
}

div.ask figcaption {
    text-align: center;
}

.blueimp-gallery>.title {
    color: #13C831 !important;
}

#left-arrow>a {
    display: block;
    background-image: url("../images/left-arrow-on.png");
    width: 30px;
    height: 112px;
    margin: 200px auto 0;
}

#left-arrow>a:hover, #left-arrow>a:focus {
    background-image: url("../images/left-arrow-off.png");
}

#right-arrow>a {
    display: block;
    background-image: url("../images/right-arrow-on.png");
    width: 30px;
    height: 112px;
    margin: 200px auto 0;
}

#right-arrow>a:hover, #right-arrow>a:focus {
    background-image: url("../images/right-arrow-off.png");
}

div.small-ask-pager {
    display: none;
}

p.next {
    color: #0c7344;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    margin-top: 30px;
}

p.next-small {
    color: #0c7344;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    display: none;
}

div.pledge-buttons {
    text-align: left;
    margin-bottom: 15px;
}

div.pledge-buttons a {
    margin-top: 15px;
    margin-left: 20px;
}

div.pledge-buttons-small {
    margin-bottom: 15px;
    display: none;
}

div.pledge-buttons-small a {
    margin-top: 10px;
}

.ask #therm,
.dashboard #therm,
.donors #therm {
    margin-bottom: 50px;
}

.ask button.btn {
    background: none;
    color: #0c7344;
    font-weight: bold;
}

.ask .btn-group {
    float: right;
    margin-top: 20px;
}

.ask .btn-group ul {
    margin: 0px;
}

.ask .btn-group li {
    padding-bottom: 0px;
}

.ask .btn-group .dropdown-menu>li>a {
    font-weight: normal;
    font-size: 14px;
}

.ask .dropdown-menu .divider {
height: 3px;
margin: 0px 0;
background-color: #E0DDB7;

}

/* Ask Sequence Tweaks For Tablet and Mobile */

@media (max-width: 768px) {
    div.ask h2 {
        clear: both;
    }

    .ask .btn-group {
        margin-top: 0px;
    }

    #left-arrow,
    #right-arrow {
        display: none;
    }

    p.next {
        display: none;
    }

    p.next-small {
        display: inherit;
    }

    div.ask {
        padding-bottom: 0px;
    }

    div.small-ask-pager {
        display: inherit;
    }

    div.small-ask-pager a.next-btn {
        float: right;
    }

    div.pledge-buttons {
        display: none;
    }

    div.pledge-buttons-small {
        display: inherit;
    }

}

/* Mobile Tweaks (Header, Subheads, etc.) */

@media (max-width: 384px) {
    
    .container {
        padding: 0px 7px;
    }

    .content {
        padding: 20px;
    }

    body {
        font-size: 14px;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    div#utility-nav {
        display: none;
    }

    div.page-header {
        margin-top: 20px;
    }

    img#logo {
        height: 110px; /* Replace with a smaller image */
        margin-bottom: 10px;
    }

    nav.navbar {
        margin-bottom: 0px;
    }

    h2 {
        font-size: 26px;
    }

    div.ask h2 {
        font-size: 22px;
    }
}
