


html {
    height: 100%;
}

body {
    background-image: url("../images/background_2.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    font-family: "Trebuchet MS", sans-serif;
    box-shadow: inset 0 0 0 1000px rgba(126, 231, 126, .21);
}

body.logged-in {
    padding-top: 30px;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
    min-height: 100%;
}

.page-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border:none;
}

h1 {
    text-align: center;
    font-size: 56px;
    padding-bottom: 10px;
    margin-top: 0px;
}

h1, h2, h3 {
    color: #0c7344;
}

.main {
    min-height: 100%;
    padding-bottom: 100px;

}

.footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear:both;
    background-color: white;
    opacity: 0.95;
    padding: 20px 30px;
    border-radius: 8px;
}

.content {
    background-color: white;
    opacity: 0.95;
    padding: 20px 30px;
    border-radius: 8px;
}

.content li {
    padding-bottom: 15px;
}

.clear-both {
    clear: both;
}

/* Navigation */

.navbar-default {
    background: none;
    border:none;
    box-shadow: none;
}

.nav-pills>li>a {
    background-color: #a0e4a0;
    border-radius: 8px;
    margin-right:20px;
    color: #316431;
    font-weight: bold;
    font-size: 22px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: #a0e4a0;
}

.nav-pills>li.pledge-button>a {
    background-color: green;
    color: white;
}

.caret {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px inherit #fff;
}

/* Images and Captions 

See http://docs.ckeditor.com/#!/guide/dev_captionedimage-section-image-alignment-and-classes
for more configuration options

*/

figcaption {
    font-style: italic;
    font-size: .8em;
}

figure {
    display: table;
    width: 1px;
    margin-bottom: 10px;
}
img, figcaption {
    display: table-row;
}


/* Updates section */

.updates small {
    font-style: italic;
    display: block;
    padding-bottom: 5px;
}

.updates .content img {
    border: 1px solid #999;
    margin-bottom: 5px;
}

.updates *.pull-left {
    margin-right: 15px;
}

.updates *.pull-right {
    margin-left: 15px;
}

/* Scenarios section */

/*.scenarios form {
    border: 1px solid #DDD;
}*/

.scenarios p.form-control-static {
    font-weight: bold;
}